#board {
	background-image: url("/img/tic-tac-toe/board.png");
	background-size: contain;
	width: 400px;
	height: 400px;
	margin: 100px auto;
}

.row{
	height:133px;
	width: 400px;
}

.cube{
	height: 133px;
	width: 130px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center; 
	transition: all 1s;
}

.cube.x{
	background-image: url("/img/tic-tac-toe/cross.png");
}

.cube.o{
	background-image: url("/img/tic-tac-toe/circle.png");
}

.cube.x.win{
	background-image: url("/img/tic-tac-toe/cross-win.png");
}

.cube.o.win{
	background-image: url("/img/tic-tac-toe/circle-win.png");
}

.hide{
	display:none;
}

.show{
	display:inline-block;
}